html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Helvetica, sans-serif;
}

#header {
    background-color: #5d5d5d;
    height: 60px;
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}


#shortcut_actions, #user_actions {
    align-self: center;
}

#user_actions {
    color: #f7f7f7;
    justify-self: end;
}

#user_actions ul, #user_actions li {
    display: inline;
}

#user_actions a {
    color: #f7f7f7;
}

input[type=text] {
    width: 300px;
    font-size: 14px;
    border: 1px solid #f1f1f1;
    color: #7e7e7e;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}


#wrapper {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: auto;
    grid-gap: 2rem;
}

.shortcut {
    position: relative;
}


.shortcut img {
    width: 100%;
    border: 1px solid #B0B0B0;
    padding: 5px;
    background-color: #FFFFFF;
}

.shortcut .meta {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F7F7F7;
    padding: 5px;
    border-top: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
}

.shortcut .details {
    text-align: center;
    font-size: 13px;
}

.shortcut .details .shortcut_title {
    font-weight: bold;
}
