{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test", "config"]},
    nowarn_export_all
]}.

{deps, [
    {cowboy, "2.6.1"},
    {poolboy, "1.5.1"},
    {epgsql, "4.2.1"},
    {bbmustache, "1.6.1"},
    {etest, {git, "git://github.com/wooga/etest.git", {tag, "1.1.0"}}},
    {etest_http, {git, "git://github.com/wooga/etest_http.git", {ref, "5cd3563"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [scio]}
]}.
