{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test", "config"]},
    nowarn_export_all
]}.

{deps, [
    {cowboy, "2.6.1"},
    {poolboy, "1.5.1"},
    {epgsql, "4.2.1"},
    {bbmustache, "1.6.1"},
    {etest, "1.2.1"},
    {etest_http, "1.0.2"},
    {meck, "0.8.13"},
    {bcrypt, "1.0.2"},
    {nested, "0.1.2"}
]}.

{shell, [
    {apps, [scio]}
]}.
