{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test", "config"]},
    nowarn_export_all
]}.

{deps, [
    {cowboy, "2.6.1"},
    {poolboy, "1.5.1"},
    {epgsql, "4.2.1"},
    {etest, "1.2.1"},
    {etest_http, "1.0.2"},
    {meck, "0.8.13"},
    {bcrypt, "1.0.2"},
    {nested, "0.1.2"},
    {rstats, "1.0.4"},
    {html_parser, {git, "git@github.com:hukl/html_parser.git", {ref, "d3459ae"}}}
]}.

{shell, [
    {apps, [scio]}
]}.


{relx, [
  {
    release,
    {"production", "0.0.1"},
    [scio],
    [
      {dev_mode, false},
      {include_erts, false},
      {system_libs, false},
      {extended_start_script, true},
      {sys_config, "config/production.config"}
    ]
  },

  {
    release,
    {development, "0.0.1"},
    [scio],
    [
      {dev_mode, true},
      {include_erts, false},
      {system_libs, false},
      {extended_start_script, true},
      {sys_config, "config/development.config"}
    ]
  }
]}.
