[
    {development, [
        {pg, [
            {size, 10},
            {max_overflow, 20}
        ],
        [
            {hostname, "localhost"},
            {database, "shortcut_dev"},
            {username, "shortcut"},
            {password, "cutitshort42"}
        ]}
    ]},

    {test, [
        {pg, [
            {size, 10},
            {max_overflow, 20}
        ],
        [
            {hostname, "localhost"},
            {database, "shortcut_dev"},
            {username, "shortcut"},
            {password, "cutitshort42"}
        ]}
    ]}
].
