<h1>{{greeting}}</h1>

<ul>
    <li><a href="/users/new">Signup</a></li>
    <li><a href="/session/new">Login</a></li>
    <li><a href="/session/logout">Logout</a></li>
</ul>



<p>
{{#names}}{{> body_partial}}{{/names}}
</p>
