<!doctype html>

<html>
    <head>
        <title>Shortcut.io</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <div id="shortcut_actions">
                <input type="text" name="search" />
            </div>
            <div id="user_actions">
                {{session}}
                <ul>
                    <li><a href="/users/new">Signup</a></li>
                    <li><a href="/sessions/new">Login</a></li>
                    <li><a href="/sessions/logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            {{{body}}}
        </div>
        <script src="/static/js/scio.js"></script>
    </body>
</html>

