[
    {kernel, [
        {logger, [
            {handler, default, logger_std_h, #{config => #{type => {file,"log/debug.log"}}}}
        ]}
    ]},

    {scio, [
        {http_port, 8080},
        {
            % Generate in EShell with io:format("~p~n", [base64:encode(crypto:strong_rand_bytes(128))]).
            cookie_secret, <<"">>
        },
        {pg_pools, [
            {pg, [
                {size, 10},
                {max_overflow, 20}
            ],
            [
                {hostname, "localhost"},
                {database, "scio_development"},
                {username, "scio"},
                {password, "mylittlesecret"}
            ]}
        ]}
    ]}
].
