[
    {kernel, [
        {logger, [
            {handler, default, logger_std_h, #{config => #{type => {file,"log/debug.log"}}}}
        ]}
    ]},

    {scio, [
        {env, test},
        {http_port, 9090},
        {
            % Generate in EShell with io:format("~p~n", [base64:encode(crypto:strong_rand_bytes(128))]).
            cookie_secret, <<"6hgJGY7B7iyOLlIS53sky1hFPthJKReFX1nGJxVfT2FyNtLmjbYwOQf/SY8vzmytSXJ09jBpozUUtjsm8ElLUbIwP4CqZ/3v8qtItt4rXBfPQxwKABFjGIs8XFA+h4lZM4ppc4yw+W1m7m0FKgNwGqIY5+tE/kUwiOoonFoy5Sk=">>
        },
        {pg_pools, [
            {pg, [
                {size, 10},
                {max_overflow, 20}
            ],
            [
                {hostname, "localhost"},
                {database, "shortcut_dev"},
                {username, "shortcut"},
                {password, "mylittlesecret"}
            ]}
        ]}
    ]},

    {bcrypt, [
        % For faster running tests
        {default_log_rounds, 8}
    ]}
].
